.wrapper{
	width: 920px;
	height: 700px;
	margin-top:30px;
	margin-left:300px;
	background:#acc3bd;
	padding-left:30px;
}

header{
	font-family: 'Gruppo', sans-serif;
	font-size:25px;
	padding-top:10px;

}

.img{
	position: absolute;
    top: 16px;
    right: 260px;
    
}

footer{
	font-size:18px;
	margin-top:60px;
	margin-left:260px;
	font-family: 'Alex Brush', sans-serif;
}

aside{
	font-family: 'Amatic SC', sans-serif;
	font-size:40px;
	background: #F9F8ED;
	width:300px;
	padding:15px;
	border-radius: 50px;
	text-align:center;
}

.in{
	width: 400px;
	height: 120px;
	background:#DFD8C8;
	border-radius: 50px;
	padding-left:40px;
	margin-top: 30px;
	
}

.out{
	width: 440px;
	height: 230px;
	background:#DFD8C8;
	border-radius: 50px;
	margin-top:10px;
	font-family: 'Amatic SC', sans-serif;
	font-size: 30px;
}

.text{
	font-family: 'Amatic SC', sans-serif;
	font-size: 30px;
	padding-top:10px;
	padding-bottom:10px;
	font-weight: bold;
}

input[type=text].nowe_zadanie{
	padding: 12px 20px;
    border: none;
    border-radius: 20px;
	background-color: #f1f1f1;
	font-family: 'Amatic SC', sans-serif;
	font-size:20px;
}


input[type=button].nowe_zadanie{
	background-color: #336666;
    border: none;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
	border-radius: 50px;
 
}

ul{
	 list-style-type: none;
}


input[type=button].lista_zadan{
	background-color: #336666;
    border: none;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
	border-radius: 50px;

 
}

input[type=checkbox].lista_zadan{
	width: 22px;
	height: 22px;

}